footer{
    padding: 20px 0px 20px 0px;
    background-color: rgb(38, 0, 43);
}
.infoCopyRight{
    display: flex;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.infoCopyRight1{
    display: flex;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.infoFooter{
   
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 40px;
    margin-left: 20px;
}


@media (max-width: 860px) {
    .infoFooter{
        padding-left: 10px;
        padding-top: 20px;
        color: aliceblue;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 40px;
        margin-left: 0px;
    }
    
}