/*font-family: 'Glancyr-light';*/

html{
    scroll-behavior: smooth;
}

header{
    /*border: 1px solid rgb(47, 255, 0);*/
    padding-top: 70px;
    display: flex;
    justify-content: space-evenly;

}


.infoHeaderConteiner{
    /*border: 1px solid red;*/
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}
.headerInfo{

   /* border: 1px solid rgb(17, 255, 0);*/
   padding: 10px;
}
.NomeEmpresaHeader{
    font-family: 'Glancyr-light';
    font-weight: lighter;
   /* border: 1px solid red;*/
    margin: 0px;
}
.Palavra1header{
    font-family: 'Glancyr-light';
    font-weight: lighter;
    font-size: 80px;
    /*border: 1px solid red;*/
    margin: 0px;
    padding: 0px;
}
.complemento1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
   /* border: 1px solid red; */
    margin: 0px;
    padding: 0px;
}
/*-------------*/

.logoHeaderConteiner{ 
    width: 400px;
}
.logoheader{
    animation: fadeIn;
    animation-duration: 1s;
}


@media (max-width: 860px) {



    header{
        display: block;
    }
    .Palavra1header{
        font-size: 60px;
    }

    .infoHeaderConteiner{
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }












    .logoheader{
        height: 300px;
    }
    .logoHeaderConteiner{
        width: 99.7%;
        display: flex;
        justify-content: center;
    }



}