
.conteinerPreLoad{
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.areaPreLoad{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    animation: fadeIn;
    animation-duration: 2s;
}
.frase{
    color: rgb(0, 122, 10);
    animation: fadeIn;
    animation-duration: 4s;
    font-family: 'Glancyr';
    text-align: center;
    margin-top: 10px;
    letter-spacing:4px;
}