.main {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.navMain {
  width: 99%;
  border-radius: 20px;
  padding: 0px 10px 0px 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.option {
  height: 190px;
  width: 300px;
  border-radius: 10px;
  background: rgb(14, 14, 14);
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.option:hover {
  transition: 0.3s;
  background: rgb(0, 153, 255);
  cursor: pointer;
}

.optionTextConteiner {
  height: 90px;
  width: 280px;
  text-align: center;
  font-family: "Sora", serif;
  font-weight: lighter;
  font-size: 20px;
  color: white;
}
.tituloCard {
  margin-top: 20px;
  color: white;
  font-family: "Sora", serif;
  font-weight: lighter;
}
.cardsConteiner {
  border-radius: 10px;
  width: 99%;
  background: rgb(7, 7, 7);
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/*---------Ajuste--------*/

.cardsConteiner1 {
  display: none;
}
.cardsConteiner2 {
  display: none;
}
.cardsConteiner3 {
  display: none;
}

.card {
  height: 290px;
  width: 200px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  background-image: linear-gradient(to top, rgb(17, 17, 17), rgb(36, 36, 36));
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding-top: 10px;
}
.fotoConteiner {
  border-radius: 10px 10px 0px 0px;
  height: 160px;
  width: 190px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  color: white;
  font-family: "Sora", serif;
  text-align: center;
}
.tamanho {
  color: rgb(59, 253, 0);
}
@media (max-width: 600px) {
  .navMain {
    flex-direction: column;
  }
  .option {
    width: 95%;
  }
}
