html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(0, 0, 0);
}
.nav {
  height: 80px;
  width: 95%;
  border-radius: 20px;
  padding: 0px 10px 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(7, 7, 7);
  position: fixed;
  top: 10px;
  z-index: 1;
}
.logoConteiner {
  height: 80px;
  width: 80px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navConteiner {
  height: 60px;
  width: 380px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.a {
  height: 40px;
  width: 100px;
  border-radius: 10px;
  background: rgb(14, 14, 14);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Sora", serif;
  font-weight: normal;
  color: aliceblue;
}
.a:hover {
  background: rgb(0, 153, 255);
  cursor: pointer;
}

.conteiner {
  height: 60px;
  width: 100px;
  border-radius: 10px;
  background: rgb(20, 20, 20);
}
@media (max-width: 600px) {
  .conteiner {
    display: none;
  }
  .logo {
    height: 50px;
  }
}
